@font-face {
  font-family: 'Alfa Slab One';
  src: url('fonts/AlfaSlabOne-Regular.woff2') format('woff2'),
  url('fonts/AlfaSlabOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Igra Sans';
  src: url('fonts/igrasans.woff2') format('woff2'),
  url('fonts/igrasans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


